<html>
<head>

</head>
<body>
  {% if error %}
      <p><strong>{{error}}</strong></p>
  {% endif %}
      {% for n in data %}
      <option value="{{n}}">{{n}}</option>
      {% endfor %}
  <h1>New user sign up</h1>
  <form method="post" action="new">
  Name  <input type="text" name="name" required/>
  Email <input type="email" name="email" required/>
  Password    <input type="password" name="password" required/>
  Password Confirmation  <input type="password" name="password" required/>
    </select>
    <input type="submit">
  </form>
</body>
</html>
