<html>
<head>

</head>
<body>

  <h1> Existing user log in </h1>
  <form method="post" action="/logincheck">
  Email <input type="email" name="email" required/>
  Password    <input type="password" name="password" required/>
    <input type="submit">
  </form>
</body>

</html>
