<html>
<head>

</head>
<body>
  <h1>New user sign up</h1>
  <form method="post" action="signupcheck">
  Name  <input type="text" name="name" required/>
  Email <input type="email" name="email" required/>
  Password    <input type="password" name="password" required/>
    </select>
    <input type="submit">
  </form>
</body>
</html>