<html>
<head>

</head>
<body > 
  <form method="post" action="userinfo">
  Name  <input type="text" name="name" required />
  Location  <input type="text" name="username" required />
  SSN <input type="text" name="email" required />

    </select>
    <input type="submit">
  </form>
</body>
</html>